@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new machine</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)

  @Html.LabelFor(model => model.InstallDate)
  @Html.TextBoxFor(model => model.InstallDate)


  <input type="submit" value="Add a new machine " class="btn btn-default" />
}
<p>@Html.ActionLink("See all machines", "Index", "Home")</p>