@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.MachineName): @Html.DisplayFor(model => model.MachineName)</h3>
<h3>@Html.DisplayNameFor(model => model.InstallDate): @Html.DisplayFor(model => model.InstallDate)</h3>


@if (@Model.JoinEntities.Count == 0)
{
  <p>No engineers have been certified to repair this machine yet.</p>
}
else
{
  <h4>This machine is allowed to be repaired by following engineers:</h4>
  <ul>
  @foreach (EngineerMachine join in Model.JoinEntities)
    {
      <li>Engineer: @join.Engineer.EngineerName</li>
      @Html.ActionLink("Remove engineer from this machine", "DeleteEngineer", "Machines", new { joinId = join.EngineerMachineId }, new {
  @class = "btn btn-danger btn-sm ml-2"})
    }
  </ul>
}
<p>@Html.ActionLink("Decommission this machine", "Delete", "Machines", new { id = Model.MachineId }, new { @class = "btn btn-danger" })</p>

<p>@Html.ActionLink("Add a engineer who is certified to repair this machine", "AddEngineer", new { id = Model.MachineId
  })</p>
<p>@Html.ActionLink("Back to Home Page", "Index", "Home")</p>
<p>@Html.ActionLink("Edit machine details", "Edit", new { id = Model.MachineId })</p>