@{
  Layout = "_Layout";
}
@using Factory.Models
@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this machines's information: @Html.DisplayFor(model => model.MachineName)</h4>

@using (Html.BeginForm())
{
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })

  <div class="form-group">
  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName, new { @class = "form-control" })
  @Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger" })
</div>

  <div class="form-group">
  @Html.LabelFor(model => model.InstallDate)
  @Html.TextBoxFor(model => model.InstallDate, new { @class = "form-control" })
  @Html.ValidationMessageFor(model => model.InstallDate, "", new { @class = "text-danger" })
</div>
<hr>
  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Home Page", "Index", "Home")</p>