@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h3>
<h3>@Html.DisplayNameFor(model => model.HireDate): @Html.DisplayFor(model => model.HireDate)</h3>
<h3>@Html.DisplayNameFor(model => model.FavoriteSnack): @Html.DisplayFor(model => model.FavoriteSnack)</h3>


@if (@Model.JoinEntities.Count == 0)
{
  <p>This engineer isn't licensed to repair any machines yet.</p>
}
else
{
  <h4>This engineer is licensed to repair the following machines:</h4>
  <ul>
  @foreach (EngineerMachine join in Model.JoinEntities)
    {
      <li>Machine: @join.Machine.MachineName</li>
      @Html.ActionLink("Delete this machine", "DeleteMachine", "Engineers", new { joinId = join.EngineerMachineId }, new {
  @class = "btn btn-danger btn-sm ml-2"})
    }
  </ul>
}
<p>@Html.ActionLink("Edit engineer's personal info", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add a machine to this engineer", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to Home Page", "Index", "Home")</p>
