@{
  Layout = "_Layout";
}
@using Factory.Models
@model Factory.Models.Engineer

<h2>Edit</h2>

<h4>Edit this engineer's information: @Html.DisplayFor(model => model.EngineerName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.EngineerName)
  @Html.EditorFor(model => model.EngineerName)

  @Html.LabelFor(model => model.HireDate)
  @Html.EditorFor(model => model.HireDate)

  @Html.LabelFor(model => model.FavoriteSnack)
  @Html.EditorFor(model => model.FavoriteSnack)

  <h4>Machines:</h4>
  @foreach (EngineerMachine joinEntity in Model.JoinEntities)
  {
    <div>
  @Html.DisplayFor(model => joinEntity.Machine.MachineName)
</div>
  }

  <p>Add more machines:</p>
  @Html.DropDownList("MachineId", (SelectList)ViewBag.MachineList, "Select a machine")
  <input type="submit" value="Add" />

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Home Page", "Index", "Home")</p>