@{
  Layout = "_Layout";
}
@using Factory.Models
@model Factory.Models.Engineer

<h2>Edit</h2>

<h4>Edit this engineer's information: @Html.DisplayFor(model => model.EngineerName)</h4>

@using (Html.BeginForm())
{
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })

  @Html.HiddenFor(model => model.EngineerId)

  <div class="form-group">
  @Html.LabelFor(model => model.EngineerName)
  @Html.TextBoxFor(model => model.EngineerName, new { @class = "form-control" })
  @Html.ValidationMessageFor(model => model.EngineerName, "", new { @class = "text-danger" })
</div>

  <div class="form-group">
  @Html.LabelFor(model => model.HireDate)
  @Html.TextBoxFor(model => model.HireDate, new { @class = "form-control" })
  @Html.ValidationMessageFor(model => model.HireDate, "", new { @class = "text-danger" })
</div>

  <div class="form-group">
  @Html.LabelFor(model => model.FavoriteSnack)
  @Html.TextBoxFor(model => model.FavoriteSnack, new { @class = "form-control" })
  @Html.ValidationMessageFor(model => model.FavoriteSnack, "", new { @class = "text-danger" })
</div>

<hr>
  
  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Home Page", "Index", "Home")</p>